<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="{{ .Values.restserver.loglevel | upper }}">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    {"type":"log","level":"%p","time":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{ {{- include "cpro.timeZoneEnvNameWithoutQuote" . }}}","log":{"message":"%m"}}%n
                </pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="restserverfile" fileName="/var/log/restserver/restserver.log" filePattern="/var/log/restserver/restserver.%i.log.gz" ignoreExceptions="false">
           <PatternLayout>
               <Pattern>
                   {"type":"log","level":"%p","time":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{ {{- include "cpro.timeZoneEnvNameWithoutQuote" . }}}","log":{"message":"%m"}}%n
               </Pattern>
           </PatternLayout>
           <Policies>
               <SizeBasedTriggeringPolicy size="10MB" />
           </Policies>
           <DefaultRolloverStrategy max="5">
             <Delete basePath="/var/log/restserver" maxDepth="2">
               <IfFileName glob="*/restserver-*.log.gz" />
               <IfLastModified age="P30D" />
             </Delete>
           </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="{{ .Values.restserver.loglevel | upper }}">
            <AppenderRef ref="Console" />
            <AppenderRef ref="restserverfile" />
        </Root>
    </Loggers>
</Configuration>
